{% extends "movies/base.html" %}

{% block content %}
    <h1>{{ movie.title }}</h1>
    <div class="movie-detail">
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p>{{ movie.description }}</p>
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster" width="300">
        {% endif %}
    </div>
{% endblock %}
